# Pengenalan Python

**Introduction to Python for Data Science** \
Course with Hacktiv8

***

**Sesi 1**

Selasa, 27 April 2021 • 19:00 - 22:00 WIB
- Tipe Data
- Variabel
- Operator & Ekspresi
- Manipulasi String

Kamis, 29 April 2021 • 19:00 - 22:00 WIB
- List
- Tuple
- Dictionary

***

## Tipe Data

### Integer
Bilangan bulat

In [1]:
print(123123123123123123123123123123123123123123123123 + 1)
print(10)
print(type(10))

123123123123123123123123123123123123123123123124
10
<class 'int'>

### Float
Desimal atau _**float**ing-point_ number

In [2]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

### String
Karakter/tulisan

In [3]:
print("Hacktiv8")
print(type("Hacktiv8"))
print('')
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

Hacktiv8
<class 'str'>

This string contains a single quote (') character.
This string contains a double quote (") character.

In [4]:
print("""hacktiv8""")
print('''hacktiv8''')
print("ha'tiv")
print("\"I am attending ha'tiv8\", He said")
print('"I am attending ha\'tiv8", He said')
print("""--
I am ha'tiv.
I am attending hacktiv8
--""")

hacktiv8
hacktiv8
ha'tiv
"I am attending ha'tiv8", He said
"I am attending ha'tiv8", He said
--
I am ha'tiv.
I am attending hacktiv8
--

### Boolean
Variabel biner, kebenaran, `true` or `false`

In [5]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

### NoneType
Objek tanpa nilai

In [6]:
type(print("hacktiv8"))
print(type(None))

hacktiv8
<class 'NoneType'>

### Konversi

In [7]:
int(10.71), float(100), str(19), bool(1), bool(-10), bool(1000), bool(1.34), bool("hacktiv8")

(10, 100.0, '19', True, True, True, True, True)

## Variabel

In [8]:
n = 300
print(n)

300

In [9]:
a = b = c = 300
print(a, b, c)

300 300 300

In [10]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [11]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [12]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## Operator dan Ekspresi

### Aritmetik

In [13]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [14]:
print(10 / 5)

2.0

### Perbandingan

In [15]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

In [16]:
a = 30
b = 30

print(a == b)
print(a <= b)
print(a >= b)

True
True
True

## Manipulasi String

In [17]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [18]:
s = 'foo.'
print(s * 4)

foo.foo.foo.foo.

In [19]:
s = 'foo'

print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [20]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [21]:
print('Whether you think you can, or you think you can\'t--you\'re right.')

Whether you think you can, or you think you can't--you're right.

***

## List
Struktur data berisi kumpulan objek

In [22]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)
print(type(a))

['foo', 'bar', 'baz', 'qux']
<class 'list'>

List adalah kumpulan dari object yang berurutan.

In [23]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

In [24]:
len(a)

4

List dapat berisi bermacam-macam objek.

In [25]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

List dapat diakses menggunakan indeks dalam tanda kurung siku.
Diawali dengan indeks 0.

In [26]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[5])
print(a[-1])
print(a[-6])

foo
corge
corge
foo

**SLICING** - `string[<index awal>:<index akhir>]`

In [27]:
print(a[2:5])

['baz', 'qux', 'quux']

Membandingkan dua _list_:

In [28]:
names = ["Adit", "Bagus", "Daniel", "Dezenia", "Ilham", "Maria", "Yusuf", 53, 8]
others = ["Satya", "Richard", "Stefani", "Timotius", "Veronica", "Viony", "Yoga", "Yoga"]

print(names == others)

False

Menghitung banyaknya item (_length_) dalam _list_:

In [29]:
num_others = len(others)
num_names = len(names)

print("length others:", num_others)
print("length names:", num_names)

length others: 8
length names: 9

Memodifikasi nilai dalam list:

In [30]:
print(a)

a[2] = 10
a[-1] = 20

print (a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

Menghapus item dalam _list_:

In [31]:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

## Tuple

Struktur data yang tidak bisa diubah atau dihapus isinya

In [32]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)
print(type(t))

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
<class 'tuple'>

In [33]:
print(t[0])
print(t[-1])

foo
corge

In [34]:
t[-1] = 'foo' # will throw error

TypeError: 'tuple' object does not support item assignment

In [35]:
t1, t2, t3, t4, t5, t6 = t
print(t1)

foo

## Dictionary

Struktur data yang terdiri dari pasangan key-value

In [36]:
profiles = {
    "names": ["harry", "michael", "jordan", "super"],
    "age": [18, 33, 24, 40],
    100: "seratus"
}
print(profiles)
print(type(profiles))

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [18, 33, 24, 40], 100: 'seratus'}
<class 'dict'>

In [37]:
print(profiles["names"])
print(profiles["age"])
print(profiles[100])
print(profiles[0]) # will throw error

['harry', 'michael', 'jordan', 'super']
[18, 33, 24, 40]
seratus

KeyError: 0

Built-in methods:

In [38]:
print(profiles.items())
print(profiles.keys())
print(profiles.values())

dict_items([('names', ['harry', 'michael', 'jordan', 'super']), ('age', [18, 33, 24, 40]), (100, 'seratus')])
dict_keys(['names', 'age', 100])
dict_values([['harry', 'michael', 'jordan', 'super'], [18, 33, 24, 40], 'seratus'])

Mengubah nilai:

In [39]:
profiles["age"] = [50, 40, 45, 55]
print(profiles)

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [50, 40, 45, 55], 100: 'seratus'}

Menghapus entri:

In [40]:
del profiles[100]
print(profiles)

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [50, 40, 45, 55]}

Menambahkan item dalam _dict_:

In [41]:
profiles["location"] = ["jakarta", "bandung", "surabaya"]
print(profiles)

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [50, 40, 45, 55], 'location': ['jakarta', 'bandung', 'surabaya']}

In [42]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

print(person['fname'])
print(person['lname'])
print(person['children'])
print(person['children'][1])
print(person['pets'])
print(person['pets']['cat'])

Hack
PTP
['Ralph', 'Betty', 'Joey']
Betty
{'dog': 'Fido', 'cat': 'Sox'}
Sox