# Percabangan dan Perulangan

**Introduction to Python for Data Science** \
Course with Hacktiv8

***

**Sesi 2**

Kamis, 29 April 2021 â€¢ 19:00 - 22:00 WIB

- Kondisional
- *Control Flow*
- Perulangan

***

## Kondisional

Kondisi logikal:

- Sama dengan: `a == b`
- Tidak sama dengan: `a != b`
- Kurang dari: `a < b`
- Kurang dari atau sama dengan: `a <= b`
- Lebih dari: `a > b`
- Lebih dari atau sama dengan: `a >= b `

Melakukan _decision-making_ menggunakan `if` _statement_:

```
if <expression>:
    <statement>
    <statement>
    ...
    <statement>

<following statement after conditional>
```

In [1]:
x = 0
y = 50

if x < y:
    print(f"1. Yes! {x} < {y}")

if y < x:
    print("2. Yes! {} < {}".format(x, y))

if x:
    print("3. Yes?")

if y:
    print("4. Yes!")

1. Yes! 0 < 50
4. Yes!

In [2]:
others = ["Satya", "Richard", "Stefani", "Timotius", "Veronica", "Viony", "Yoga"]
z1 = "satya"
z2 = "Satya"

if z1 in others:
    print(f"name: {z1} is in others")

if z2 in others:
    print(f"name: {z2} is in others")
    print(z2 * 3)

name: Satya is in others
SatyaSatyaSatya

_Nested conditional blocks_:

In [3]:
# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('Outer condition is true')      #  x

    if 10 > 20:                           #  x
        print('Inner condition 1')        #        x

    print('Between inner conditions')     #  x

    if 10 < 20:                           #  x
        print('Inner condition 2')        #  x

    print('End of outer condition')       #  x
print('After outer condition')            #  x

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

Klausa `else` dan `elif`:

```
if <expression>:
    <statement(s)>
else:
    <statement(s)>
```

dengan `elif` (_else if_):
```
if <first expression>:
    <statement(s) for first expr.>
elif <second expression>:
    <statement(s) for second expr.>
elif <third expression>:
    <statement(s) for third expr.>
...
else:
    <statement(s)>
```

In [4]:
book_price = 1000
mag_price = 500
money = 600

if money >= book_price:
    print("let's buy a book")
elif money >= mag_price:
    print("just buy magazines")
else:
    print("let's collect more money")

if money >= mag_price:
    print("just buy magazines")
elif money >= book_price:
    print("let's buy a book")
else:
    print("let's collect more money")

just buy magazines
just buy magazines

In [5]:
min_score = .7
score = .65

if score > min_score:
    print("success")
else:
    print("remedy")

remedy

One-Line If Statements

`if <expression>: <statement>`

`if <expression>: <statement 1>; <statement 2>; ...; <statement n>`

In [6]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

Ekspresi Kondisional

`<expression 1> if <conditional expression> else <expression 2>`

In [7]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [8]:
age = 12
s = 'teen' if age < 21 else 'adult'
print(s)

teen

In [9]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

Pass Statement:

In [10]:
if True:
    pass
print('foo')

foo

## Perulangan `while`:

```
while <expression>:
    <statement(s)
```

In [11]:
score = 1
min_score = 7

if score < min_score:
    print(score, "less than {}".format(min_score))
    print(score, "less than {}".format(min_score))
    print(score, "less than {}".format(min_score))
    print(score, "less than {}".format(min_score))
    print(score, "less than {}".format(min_score))
    print(score, "less than {}".format(min_score))

1 less than 7
1 less than 7
1 less than 7
1 less than 7
1 less than 7
1 less than 7

In [12]:
while score < min_score:
    print(score, "less than {}".format(min_score))
    score = score + 1

1 less than 7
2 less than 7
3 less than 7
4 less than 7
5 less than 7
6 less than 7

In [13]:
names = ["Adit", "Bagus", "Daniel", "Dezenia", "Ilham", "Maria", "Yusuf"]

idx = 0
while idx < len(names):
    print(idx, 'name:', names[idx])
    idx = idx + 1

0 name: Adit
1 name: Bagus
2 name: Daniel
3 name: Dezenia
4 name: Ilham
5 name: Maria
6 name: Yusuf

Statement `break` dan `continue` pada perulangan `while`:

In [14]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [15]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [16]:
idx = 0
while idx < len(names):
    if (idx % 3 == 0) and (idx != 0):
        idx = idx + 1
        continue
    print(idx, 'name:', names[idx])
    idx = idx + 1

0 name: Adit
1 name: Bagus
2 name: Daniel
4 name: Ilham
5 name: Maria

Klausa `else` pada perulangan `while`:

```
while <expression>:
    <statement(s)
else:
    <additional statement(s)
```

In [17]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [18]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

One-Line While Loops:

In [19]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## Perulangan `for`

Python hanya mengimplementasikan perulangan berbasis koleksi:

```
for <variable> in <iterable object>:
    <statement(s)>
```

_Iterable objects_ contohnya: _list/tuple_

In [20]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
for name in others:
    print(name)

Satya
Richard
Stefani
Timotius
Veronica
Viony
Yoga

In [22]:
print(name, name[0], name[1], name[2])

Yoga Y o g

In [23]:
for name in names:
    print("name:", name)
    s = ""
    for char in name:
        s = s + char + "-"
    print(s.lower())

name: Adit
a-d-i-t-
name: Bagus
b-a-g-u-s-
name: Daniel
d-a-n-i-e-l-
name: Dezenia
d-e-z-e-n-i-a-
name: Ilham
i-l-h-a-m-
name: Maria
m-a-r-i-a-
name: Yusuf
y-u-s-u-f-

In [24]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

for k in d:
    print(d[k])

for k in d.values():
    print(k)

for k, v in d.items(): 
    print(k, ":", v)

foo
bar
baz
1
2
3
1
2
3
foo : 1
bar : 2
baz : 3

In [25]:
profiles = {
    "names": ["harry", "michael", "jordan", "super"],
    "age": [18, 33, 24, 40],
    "location": ["jakarta", "bandung", "surabaya", "jogja"]
}

print(profiles)
print(profiles.keys())
print(profiles.values())

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [18, 33, 24, 40], 'location': ['jakarta', 'bandung', 'surabaya', 'jogja']}
dict_keys(['names', 'age', 'location'])
dict_values([['harry', 'michael', 'jordan', 'super'], [18, 33, 24, 40], ['jakarta', 'bandung', 'surabaya', 'jogja']])

In [26]:
for key in profiles.keys():
    print(key, "-", profiles[key])

names - ['harry', 'michael', 'jordan', 'super']
age - [18, 33, 24, 40]
location - ['jakarta', 'bandung', 'surabaya', 'jogja']

In [27]:
for key, value in profiles.items():
    print(key, "-", value)

names - ['harry', 'michael', 'jordan', 'super']
age - [18, 33, 24, 40]
location - ['jakarta', 'bandung', 'surabaya', 'jogja']

In [28]:
list_keys = ["twos", "threes", "fours", "fives", "sixes"]
multiplier = 2

for key in list_keys:
    value = []
    for i in range(4):
        value.append(i * multiplier)
    multiplier = multiplier + 1
    profiles[key] = value

for key, value in profiles.items():
    print(key, "-", value)

names - ['harry', 'michael', 'jordan', 'super']
age - [18, 33, 24, 40]
location - ['jakarta', 'bandung', 'surabaya', 'jogja']
twos - [0, 2, 4, 6]
threes - [0, 3, 6, 9]
fours - [0, 4, 8, 12]
fives - [0, 5, 10, 15]
sixes - [0, 6, 12, 18]

Statement `break` dan `continue` pada perulangan `for`:

In [29]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [30]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

Fungsi `range()`:

In [31]:
x = range(5)
for n in x:
    print(n)

0
1
2
3
4

In [32]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [33]:
print(list(range(50, 75)))

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74]

In [34]:
print(list(range(0, 100, 2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [35]:
for i in range(len(names)):
    if (i % 3 == 0) and (i != 0):
        continue
    print(i, "name:", names[i])

0 name: Adit
1 name: Bagus
2 name: Daniel
4 name: Ilham
5 name: Maria